
{{#if user}}
    <div>
        <h5> {{count}} Subjects</h5>
    </div>
    <hr>
    <div class="container-fluid" >    
        {{#each result}}
            <details>
                <summary>
                    <span class="text-uppercase">
                        {{this.name}}
                    </span> 
                    (
                    <span class="text-primary">
                        <a href="/courses/{{this.name}}">
                            {{this.courses.length}} videos
                        </a> 
                    </span>
                    )
                </summary>
                <!-- Portfolio Item Row -->
                {{#each this.courses}}
                <div class="row border  p-1 mb-1">

                    <div class="col-md-3">
                    <img class="img-fluid rounded" src="https://via.placeholder.com/250/0000FF/ffffff?Text={{this.filename}}" alt="">
                    </div>

                    <div class="col-md-7">
                    <h3 class="my-3">{{this.filename}}</h3>
                    <p>{{this.dscription}}</p>
                    <h3 class="my-3">Course Details</h3>
                    <ul>
                        <li>Author: {{this.author}}</li>
                        <li>Duration:<small class="text-muted">{{this.duration}}</small></li>
                        <li>Description:{{this.description}}</li>
                    </ul>
                    </div>

                </div>
                {{/each}}
                <!-- /.row -->
                <!-- 
                <div class="list-group">
                    {{#each this.courses}}
                        <a href="/{{this.filename}}" class="list-group-item">{{this.filename}}</a>
                    {{/each}}
                </div> 
                -->
            </details> 
        {{/each}}
    </div>
        
{{else}}
     <div class="alert alert-danger">Please login</div>S
{{/if}}

<!-- google params example 
     https://admin.google.com/torama.ng/AdminHome#DomainSettings/notab=1&subtab=subscriptions 
     -->